@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap');


a, body, h1, h2, h3, h4, h5, h6, p, div, button, input {
   font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rounded-link{
  border-radius: 0.4rem !important;
}
